.slider-checkbox {
  @apply relative h-[36px] w-[22px] cursor-pointer rounded-full p-1;
  background: rgba(255, 255, 255, 0.04);

  &__circle {
    @apply absolute  top-1 h-[14px] w-[14px]  rounded-full transition-all duration-300;
    background: linear-gradient(
      90deg,
      rgb(255, 238, 238),
      rgb(221, 239, 187) 100%
    );

    &_active {
      top: calc(100% - 18px);
    }
  }
}
