.cheat-page {
  &__background {
    position: absolute;
    width: 950px;
    height: 950px;
    right: 0;
    top: 120px;
    background-size: cover;
    background-position: top right;
    z-index: -1;
    opacity: 0.28;

    &::before {
      content: '';
      position: absolute;
      width: 100vw;
      height: 100%;
      background: linear-gradient(180deg, rgba(11, 12, 14, 0) 79.87%, #0B0C0E 100%), linear-gradient(90deg, #0B0C0E 50.34%, rgba(11, 12, 14, 0.4) 100%);
      right: 0;
      top: 0;
    }
  }
}