.profile-integrations {
  &__banner {
    &:first-child {
      box-shadow: inset 2px 2px 4px 0px rgba(255, 255, 255, 0.12);
      background: linear-gradient(
        180deg,
        rgb(0, 126, 216),
        rgb(0, 86, 146) 100%
      );
    }

    &:last-child {
      box-shadow: inset 2px 2px 4px 0px rgba(255, 255, 255, 0.12);
      background: linear-gradient(
        180deg,
        rgb(127, 119, 237),
        rgb(51, 58, 140) 100%
      );
    }
  }
}
